@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.min.css" />
}
<div class="container">
    <div><h2>Role List</h2></div>
    <a class="btn btn-primary" href='@Url.Action("Create","Role")'>Create</a>
    <table class="datatable" style="width:100%">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Name
                </td>
                <td>
                    Created Date
                </td>
                <td>
                    Action
                </td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
    <script>
        $("document").ready(() => {
            let datatable = $('.datatable').DataTable({
                responsive: true,
                "lengthChange": false,
                ajax: { url: "/role/list", dataSrc: "data" },
                columns: [
                    {
                        data: null , render: (data)=>{
                            return data.name + data.dtCreated
                        }
                    },
                    {
                        data: "name",orderable:false
                    },
                    {
                        data: "dtCreated",orderable: false
                    },
                    {
                        data: null, orderable: false, render: (data) => {
                            return $("<div />", { html: data.action }).html();
                        }
                    }
                ]
            }).on("click", "tbody .delete", (event) => {
                event.preventDefault();
                // call ajax
                $.ajax({
                    url: event.target.href,
                    type: "POST",
                    success: () => {
                        window.location.reload();
                    },
                    error: (data) => {
                        console.log(data)
                    }
                })
            });
        })
    </script>
}
