@if(TempData.ContainsKey("SuccessMessage")){
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
else if(TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}